<div class="rich_media_content " id="js_content"><p style="text-align: center;"><img class="rich_pages"
                                                                                     data-ratio="0.21333333333333335"
                                                                                     data-src="https://mmbiz.qpic.cn/mmbiz_gif/nv1CZKg9O8l2E4NghK7YBBJF07KSSCj9OYViapZg4twZx4ibrPt2vMicoN5dhR4qfbCmrMlMQ20pjhseC8lIDexzw/640?wx_fmt=gif"
                                                                                     data-type="gif" data-w="750"
                                                                                     style=""/></p>
    <p><br/></p>
    <p style="text-align: center;"><img class="rich_pages" data-ratio="0.9675" data-s="300,640"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_jpg/nv1CZKg9O8kbUPmjStIRfGLeiaa2icdgkXt5s3rNByuRscgEgFibrlaNWRP1Lq7KPhbC00G1sZ2eNpM9wNDcMsfkg/640?wx_fmt=jpeg"
                                        data-type="jpeg" data-w="400" style=""/></p>
    <p style="text-align: center;"><span style="font-size: 14px;">中国自主研制的“飞天”舱外航天服。</span><span
            style="font-size: 14px;">新华社记者 冯开华摄</span></p>
    <p><br/></p>
    <p style="text-align: center;"><img class="rich_pages" data-cropselx1="0" data-cropselx2="520" data-cropsely1="0"
                                        data-cropsely2="328" data-ratio="0.665" data-s="300,640"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_jpg/nv1CZKg9O8kbUPmjStIRfGLeiaa2icdgkXic53kGJWjbNiaYe76kfsHIt6TA2MyAibn2C3wqJgEQ0BaXuhJS5hW1ejA/640?wx_fmt=jpeg"
                                        data-type="jpeg" data-w="400" style="width: 520px;height: 346px;"/></p>
    <p style="text-align: center;"><span style="font-size: 14px;">2019年10月28日，远望号火箭运输船将长征五号遥三火箭集装箱卸至海南文昌清澜港。</span><span
            style="font-size: 14px;">亓创摄（人民视觉）</span></p>
    <p><br/></p>
    <p style="text-align: center;"><img class="rich_pages" data-cropselx1="0" data-cropselx2="520" data-cropsely1="0"
                                        data-cropsely2="346" data-ratio="0.6307692307692307" data-s="300,640"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_jpg/nv1CZKg9O8kbUPmjStIRfGLeiaa2icdgkXibPIkn61iaKQVJMBykIF1OPymWgnQcotX9AuIdEM7SR9ibNhNo3D3k1rw/640?wx_fmt=jpeg"
                                        data-type="jpeg" data-w="520" style="width: 549px;height: 346px;"/></p>
    <p style="text-align: center;"><span style="font-size: 14px;">新华社记者 肖潇编制</span><br/></p>
    <p><br/></p>
    <p style="text-align: center;"><img class="rich_pages" data-cropselx1="0" data-cropselx2="400" data-cropsely1="0"
                                        data-cropsely2="266" data-ratio="0.4846153846153846" data-s="300,640"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_jpg/nv1CZKg9O8kbUPmjStIRfGLeiaa2icdgkXJ5tibtTA8WB2ffBPApE6b5Pria0d3yPjeqonqRV3HaUFkEsFiaRG5oqtQ/640?wx_fmt=jpeg"
                                        data-type="jpeg" data-w="520" style="width: 549px;height: 266px;"/></p>
    <p style="text-align: center;"><span style="font-size: 14px;">中国“长征”火箭全家福。</span><span style="font-size: 14px;">中国运载火箭技术研究院供图</span>
    </p>
    <p><br/></p>
    <section data-author="Wxeditor">
        <article use="1" class="yead_editor m2779 yead-cc" data-author="Wxeditor"
                 style="font-size:14px;margin:5px auto;">
            <section style="box-sizing: border-box;">
                <section class="yead_bdc"
                         style="padding: 2px;border-width: 1px;border-style: solid;border-color: rgb(5, 111, 210);line-height: 30px;">
                    <section class="yead_bdc"
                             style="padding: 2px;border-width: 1px;border-style: solid;border-color: rgb(5, 111, 210);line-height: 30px;">
                        <section class="yead_bdc"
                                 style="padding: 5px 10px;border-width: 1px;border-style: solid;border-color: rgb(5, 111, 210);line-height: 30px;">
                            <section style="line-height: 1.75em;"><span style="font-size: 16px;">1999年11月20日，凌晨6时30分，一声惊雷响彻茫茫戈壁。中国载人航天工程的第一艘试验飞船——神舟一号，自酒泉卫星发射中心升空，并于次日凌晨成功返回。</span>
                            </section>
                            <p><br/></p>
                            <section style="line-height: 1.75em;"><span style="font-size: 16px;">自此，中国成为继苏联、美国之后，世界上第三个拥有载人飞船的国家。中国，正式进入载人航天时代。</span>
                            </section>
                            <p><br/></p>
                            <section style="line-height: 1.75em;"><span style="font-size: 16px;">从大地、海洋、天空，再到太空，人类每一次对未知领域的探索，都将为科技进步与社会变革提供动力。就像我们今天的世界格局，依然还带有大航海时代的深刻烙印。中华儿女都明白，我们曾经错过了海洋，绝不能再错过宇宙。但立志容易成功难，壮志凌云的中国人转头回来就要面对冰冷的现实：中国载人航天底子薄、投入少、时间紧、无外援……</span>
                            </section>
                            <p><br/></p>
                            <section style="line-height: 1.75em;"><span style="font-size: 16px;">然而，奇迹之所以被称为奇迹，就是因为人们在诸多不利条件中，凭借顽强的意志力，以少胜多、“逆天改命”。20年来，中国载人航天按照载人飞船-空间实验 室-空间站的三步走战略稳步推进，逐步从一个载人航天的后发国家，变成了毫无争议的世界航天强国。这一切究竟是如何发生的？</span>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </article>
        <p><br/></p></section>
    <section data-author="Wxeditor">
        <article use="1" class="yead_editor m32" data-author="Wxeditor" style="font-size:14px;margin:5px auto;"><p
                class="yead_bdtc yead_color"
                style="margin-right: auto;margin-left: auto;font-size: 16px;max-width: 100%;white-space: normal;padding-top: 5px;padding-bottom: 10px;padding-left: 7px;border-top: 2px solid rgb(5, 111, 210);background-image: url("
                https:="" rgb="" bold="" repeat-x="" break-word="" border-box="">没能浮出地表的“曙光号”</p></article>
        <p><br/></p></section>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">万事皆有因，中国的载人航天也不是从石头缝里蹦出来的。就像国产大飞机有个鲜为人知的远祖——“运十”，如今家喻户晓的“神舟”载人飞船也曾有一个历史倒影——“曙光号”。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">1970年4月，就在举国欢庆第一颗人造地球卫星成功上天之际，来自全国的航天专家齐聚北京京西宾馆，备受“两弹一星”鼓舞的他们提出了一个更加大胆的计划——一鼓作气，趁热打铁，把中国的载人航天也搞出来。大家一致认为，“要在1973年把第一艘载人飞船送上天”。而这艘载人飞船也有个寄寓着满满期望的名字：“曙光一号”。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">7月14日，毛泽东和中央军委正式批准载人飞船计划。于是，在东方红一号卫星成功发射不到3个月后，中国开始了载人飞船的研制和航天员选拔，代号“714工程”，由钱学森亲自挂帅。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">然而理想热情之上，还有政治环境和经济基础的制约。载人飞船是个“烧钱大户”，它的上马引起了不少争议。据时 任第七机械工业部军管会副主任的杨国宇回忆，当时有人就认为，与其搞飞船，不如把钱花在建水电、化肥厂更有实际效果。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">左右权衡之下，最终中央认为，我们不与美苏开展太空竞赛，而应把力量集中到急用、实用的应用卫星上来。“先把地球上的事搞好，地球外的事往后放放。”“714”工程遂在1972年被暂停，航天员大队宣布解散。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">谁知这一停，就是20年。锁进绝 密文件柜里的“曙光号”，也成为心有余而力不足的新中国第一代航天人如同“初恋”般的记忆。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">但“曙光”的余韵并未彻底消失。当时计划用来发射“曙光号”的火箭是“东风五号”洲际导弹，其副总设计师叫王永志；而负责“曙光号”研制的飞船室主任，名叫戚发轫。20年后，中国载人航 天事业将在这两个“老曙光人”手里翻开全新的篇章。</span>
    </p>
    <p><br/></p>
    <section data-author="Wxeditor">
        <article use="1" class="yead_editor m32" data-author="Wxeditor" style="font-size:14px;margin:5px auto;"><p
                class="yead_bdtc yead_color"
                style="margin-right: auto;margin-left: auto;font-size: 16px;max-width: 100%;white-space: normal;padding-top: 5px;padding-bottom: 10px;padding-left: 7px;border-top: 2px solid rgb(5, 111, 210);background-image: url("
                https:="" rgb="" bold="" repeat-x="" break-word="" border-box="">是造宇宙飞船还是航天飞机？</p></article>
        <p><br/></p></section>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">“863”计划的出台，让沉寂多年的中国载人航天事业迎来了自己的解冻期。可刚一解冻，中国载人航天就面临着一场前所未有的激烈争论：中国的太空运载工具应该选择何种技术路线，是航天飞机还是宇宙飞船？</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">“飞机派”认为：航天飞机技术含量高，可以重复使用，是未来的发展趋势，中国载人航天的起点应该高一些；“飞船派”则认为：飞船是探索太空最简单、最省钱、研制周 期最短的工具，且中国返回式卫星回收技术已完全掌握，搞飞船，成功率更高。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">可以说，这个问题是中国载人航天的“第一粒扣子”。对于这样一项投入大、周期长、风险高的科技工程来说，技术路线选错了，后果不堪设想。争论持续了3年多，双方各执己见，谁也无法说服谁，“官司”一直打到了中南海。最终中央拍板：基于中国国情、经费投入、研制周期、安全风险等诸多因素，中国选择走载人飞船的路线。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">后来的一系列事实也证明了当年这一决策的正确——</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">2011年，美国航天飞机全部退役。在航天飞机退役后，美国就失去了将宇航员送入太空的能力，不得不依赖俄罗斯的“联盟号”飞船，每个宇航员的仓位费高达8100万美元。日本、欧洲的航天飞机也停留在纸面上，世界航天大国全部回到了飞船方案……</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">经过6年的详细论证，1992年9月21日，中共中央政治局常委扩大会议正式批准了载人航天工程，代号“921”工程。同时中国载人航天三步走的发展战略也被确定下来：第一步，发射载人飞船；第二步，发射空间实验室；第三步，建造空间站。其中，“神舟一号”争取在1999年完成发射。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">同年，60岁的王永志和59岁的戚 发轫，被分别任命为中国载人航天工程总设计师与“神舟号”飞船总设计师。曾经“两弹一星”时代的青年才俊，又在“退休”之龄重新站上起跑线，让人在感慨岁月如梭的同时也愈发认识到，中国载人航天，不能再等了。</span>
    </p>
    <p><br/></p>
    <section data-author="Wxeditor">
        <article use="1" class="yead_editor m32 yead-cc" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
            <p class="yead_bdtc yead_color"
               style="margin-right: auto;margin-left: auto;font-size: 16px;max-width: 100%;white-space: normal;padding-top: 5px;padding-bottom: 10px;padding-left: 7px;border-top: 2px solid rgb(5, 111, 210);background-image: url("
               https:="" rgb="" bold="" repeat-x="" break-word="" border-box="">花最小的钱办最大的事</p></article>
        <p><br/></p></section>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">“我压力很大，脑子里一直在思考，怎样才能在人家的飞船上天几十年之后，我们做出一个飞船来还能振奋人心呢？”王永志说，“如果 按苏联和美国的老路走，我们将永远落后于别人。”于是，以王永志为首的中国航天专家们决定：中国载人航天工程必须在总体上体现中国特色，高起点、高效益、高质量、低成本，走跨越式发展之路。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">这一点在选择“神州一号”飞船设计方案时最能体现。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">“当时，美国人选的是两舱方案，苏联人是三舱方案，都有自己的道理，都上过天，都成功了。中国到底用两舱方案还是三舱方案？争论也是很大的。”戚发轫回忆道。最终，专家组以3：2的投票结果，决定用三舱方案。“但不是照抄苏联，我们把苏联的生活舱改成轨道舱留轨使用，把返回舱尺寸加大。我们认真地选择了一个符合中国情况的方案。”</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">这也正是中国飞船的独创之处：“神州”是目前世界上唯 一执行完载人飞行任务后，还可以留有轨道舱在轨工作的载人飞船。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">王永志说 ：“两三吨重的东西，把它推到8公里的速度，送上轨道，那是付出巨大代价的，不能随便把它烧了。”所以中国的每次载人飞船发射，相当于额外发射了一颗空间实验卫星+微型空间实验室，既能收集科学实验数据，也可以同下一艘飞船做空间交会对接试验。美苏做5次交会对接试验，需要发射10次，而中国只需6次，每次发射都要花几亿元，这样一来中国航天就节省了一大笔资金。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">这就是“高效益、低成本”，这就是中国人的技术创新，这就是中国特色的载人航天之路。而这种把每一部分都利用到最大限 度的风格，也在之后的中国载人航天项目中被延续下来。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">从1999年的“神舟一 号”到2016年的“神舟十一号”，没有任何两艘飞船的任务是重复的。一旦一个技术得到验证，就立即开始全力攻克下一个，绝不“浪费”。2011年发射升空的“天宫一号”本来设计的在轨寿命是两年，却超期服役到2016年，超计划开展的多项技术试验，直接使中国无需再发射“天宫三号”。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;"> 曾经有德国人问过戚发轫，中国人一年能实现发射两艘飞船，是有什么好办法？戚发轫开玩笑道：“第一，我们有保密规定，我不能告诉你；第二，就算我告诉你，你们德国人也做不到。”德国人不相信，凭什么德国人做不到？戚发轫说：“我知道你们星期一、星期五绝对不做精密的、重要的工作——星期五就在计划第二天怎么玩了，注意力不集中；星期一呢，心还沉浸在回忆中没收回来呢！而我们是白天干，晚上干，星期六干，星期天也干，过节过年还干！我们中国人凭什么干得又快又好？就凭这个精神！”</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">“如同运动员在起跑线上晚了一步，我们唯一能做的，就是以比别人更大的步伐、更快的速度来追赶。”王永志说。</span>
    </p>
    <p><br/></p>
    <section data-author="Wxeditor">
        <article use="1" class="yead_editor m32 yead-cc" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
            <p class="yead_bdtc yead_color"
               style="margin-right: auto;margin-left: auto;font-size: 16px;max-width: 100%;white-space: normal;padding-top: 5px;padding-bottom: 10px;padding-left: 7px;border-top: 2px solid rgb(5, 111, 210);background-image: url("
               https:="" rgb="" bold="" repeat-x="" break-word="" border-box="">中国空间站2022年前后建成</p></article>
        <p><br/></p></section>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">随着2003年“神舟五号”的顺利发射和安全返回，中国载人航天三步走战略的第一步已经完成；</span><span
            style="font-size: 16px;">随着2019年“天宫二号”空间实验室成功再入大气层，三步走战略的第二步也圆满完成。</span></p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">与此同时，中国载人航天事业的队伍完成了新老交替。</span><span
            style="font-size: 16px;">当年，中国载人航天人才断档，还要靠王永志、戚发轫两位“30后”支撑大局。</span><span style="font-size: 16px;">但在之后中国载人航天大胆启用新人，以工程聚人才，以项目带人才，锻炼出一 大批优秀的中青年人才队伍。</span><span
            style="font-size: 16px;">“神舟七号”任务之后，1957年出生的周建平接过王永志手中的“帅印”，担任中国载人航天工程总设计师。</span><span
            style="font-size: 16px;">而飞船系统总设计师和空间实验室系统总设计师，也都由“60后”科研人员担纲。</span><span style="font-size: 16px;">中国载人航天队伍，风华正茂，生机盎然。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">在谈到人们最关心的话题——中国空间站何时能建成时，周建平表示，中国的空间站建设已全面展开，计划在2022年 前后完成建造并开始运营，设计寿命10年，额定乘员3人。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">鉴于目前的国际空间站，很可能在2024年退役。</span><span
            style="font-size: 16px;">这意味着，在未来一段时间内，中国空间站可能是世界上唯一的空间站。</span></p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">虽然中国长期被美国排斥在国际空间站项目之外，但这次中国并不打算“吃独食”。</span><span
            style="font-size: 16px;">2018年，中国邀请联合 国各成员国参加中国的空间站科学和应用研究计划。</span><span style="font-size: 16px;">中国空间站将为项目申请方提供免费的上行发射和空间站运行机会，以及测控、回收等保障性服务支持，研发经费由项目申请方自行承担。</span>
    </p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">周建平说：</span><span
            style="font-size: 16px;">“君 子坦荡荡，我们不能因为过去人家对我们怎么样，我们就用同样的方式对他。</span><span style="font-size: 16px;">探索太空和宇宙是人类共同的事业。</span><span
            style="font-size: 16px;">中国政府一直秉持和平利用太空、合作开放共赢的宗旨，我们要本着这个原则追求自己的目标。</span><span
            style="font-size: 16px;">”</span></p>
    <p><br/></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="font-size: 16px;">空间站的发射离不开大推力火箭，肩负着这一任务的“长征五号”火箭，已于今年10月运抵海南南昌发射中心。</span><span
            style="font-size: 16px;">我们翘首以盼 天空中能尽早看到“胖五”的身影，也期待中国空间站能早日到来。</span><span
            style="font-size: 16px;">(记者 韩维正)</span></p>
    <p><br/></p>
    <p style="text-align: right;"><span style="font-size: 16px;">来源：</span><span style="font-size: 16px;">人民网</span></p>
    <p style="text-align: center;"><img class="rich_pages" data-ratio="1.2352941176470589" data-s="300,640"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_jpg/nv1CZKg9O8n1XKDNLV9uBAMcFt0diaWoPNYgPG13GKyIJaejSyXgfRvNNVD8dXib0ntxBKjpjvDCWD5ibp4ZeMq6g/640?wx_fmt=jpeg"
                                        data-type="jpeg" data-w="850" style=""/></p>
    <p style="text-align: center;"><img class="rich_pages" data-ratio="0.4125"
                                        data-src="https://mmbiz.qpic.cn/mmbiz_gif/nv1CZKg9O8k7Mu5z6LicCoypEPsibDEtOaN9a5A2e4BjdTMjRicuuwUvhrIYO0ibOd1JA1PUTiamGgJ67tbwtZXArbw/640?wx_fmt=gif"
                                        data-type="gif" data-w="720" style=""/></p></div>