<!doctype html>
<html lang="zh" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <base href="http://127.0.0.1:5000">
    <!--meta name=”referrer” content=”no-referrer”-->
    <!--meta name=”referrer” content=”never”-->

{#    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>#}
{#    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>#}
    <!-- Generated: 2018-04-06 16:27:42 +0200 -->
    <title>spider</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="{{ url_for('static', filename='assets/js/require.min.js') }}"></script>
    <script>
        requirejs.config({
            baseUrl: 'static/'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{{ url_for('static', filename='assets/css/dashboard.css') }}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
    <style>
        .current-page {
            background-color: #f5f5f5;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <!-- top header -->
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        <img src="{{ url_for('static', filename='favicon.ico') }}" class="header-brand-img"
                             alt="tabler logo">
                        <span class="text-default">Weixin</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- top header -->

        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <!-- search -->
                    {% block basesearch %}{% endblock %}
                    <!-- search -->

                    <!-- nav -->
                    {% include "wx-base-nav.html" %}
                    <!-- nav -->

                    {% block topnav %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="my-3 my-md-5">
            <div class="container">

                {% block contents %}{% endblock %}

                {% block paginator %}{% endblock %}

            </div>
        </div>

    </div>
    {% include "wx-footer.html" %}
</div>
{% block js %}{% endblock %}
</body>
</html>