<div class="col-lg order-lg-first">
    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
        <li class="nav-item">
            <a href="/" class="nav-link nav_home">
                <i class="fe fe-home"></i>Wechat Office Account
            </a>
        </li>
    </ul>
</div>
