<footer class="footer">
    <div class="container">
        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
            Copyright © 2019-2021  WeChat Office Account.
        </div>
    </div>
</footer>